.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 95vh;
  width: 90%;
}

.img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  object-fit: cover;
}

.name {
  font-size: 22px;
  font-weight: 500;
  font-family: "Permanent Marker", cursive;
  color: #39a6e8;
}
.span {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "Permanent Marker", cursive;
}
.type {
  color: #39a6e8;
  font-size: 16px;
  font-weight: 500;
  font-family: "Permanent Marker", cursive;
}
.home__container1 {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.border-Line {
  border: 1px solid #39a6e8;
  height: 50px;
  position: relative;
  right: 9px;
}
.Link {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Link:hover {
  background: #39a6e8;
  border-radius: 50%;
}
.home__container2 {
  width: 10%;
  display: flex;
  flex-direction: column;
}
.home__container2 p {
  color: white;
}

@media screen and (max-width:480px) {
    .border-Line {
        display: none;
      }
}